@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
:root {
    background-color: white;
}
.body {
    margin: 0;
    padding: 0;
}
/* This is the header section */
.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: center;  /*space-between*/
    padding: 0 16px;
    background-color: lightblue;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
/* This is the video section */
.primary {
    display: block;
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 24px;
    min-width: 848px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 24px;
    padding-top: 24px;
    
    background-color: lightgray;
    height: 100vh;
    width: 100%;
}
.video_container {
    display: block;
    margin-left: 24px;

    position: relative;
    width: 97%;
    height: 50vh;
}

/* This is the sidebar previews */
.secondary {
    display: block;
    margin: 0;
    min-width: 300px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 24px;
    padding-top: 24;
    

    background-color: whitesmoke;
    height: 100vh;
    width: 50%;
}

#video-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;

    color: rgb(3, 3, 3);
}

/* Part of the preview items */
.details {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    width: 226px;
    justify-items: center;
}


.thumb {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    gap: 10px;
}

.thumbdesc {
    display: block;
    height: 94px;
}

#video-title-thumb {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-overflow: ellipsis;
}

#video-channel-thumb {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-overflow: ellipsis;
}

#video-channel-views, #video-channel-uploaded {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-decoration-thickness: auto;
    margin: 0 4px;
}

.metadata-line {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.text-container {
    display: block;
}